<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}ZiptiePy{% endblock %}</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" />  
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 
  {% block stylesheet %}{% endblock %}
</head>

<body>
  <div id="wrapper">
    <header>
      <h1><a class="brand" href="javascript:void(0);">Ziptiepy</a></h1>
    </header>
    <nav>
      <a class="active" href="javascript:void(0);">Main</a>
      <a class="" href="javascript:void(0);">Two</a>
      {% if user.is_active and user.is_staff %}
        <div id="user-tools">
          <ul>
            <li>
              {% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}
              <ul>
                {% block userlinks %}
                  {% if user.has_usable_password %}
                    <li><a href="#">Change password</a></li>
                  {% endif %}
                    <li><a href="#">Log out</a></li>
                {% endblock %}
              </ul>
            </li>
          </ul>
        </div>
        {% endif %}
  </nav>
  <div id="container">
    <section id="leftcolumn">
      {% block leftcolumn %}{% endblock %}
    </section>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
  </div>
  
  <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
  {% block javascript %}{% endblock %}
  
</body>
</html>