<div id="left">
  <div id="info">
    <table border="1">
      <caption>Device Information</caption>
      <thead>
        <tr>
          <th>col1</th>
          <th>col2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>row 1 co1</td>
          <td>row 1 co2</td>
        </tr>
        <tr>
          <td>row 2 co1</td>
          <td>row 2 co2</td>
        </tr>
        <tr>
          <td>row 2 co1</td>
          <td>row 2 co2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="filelist">
    <table border="1">
      <caption>Configuration Files</caption>
      <thead>
        <tr>
          <th>col1</th>
          <th>col2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>row 1 co1</td>
          <td>row 1 co2</td>
        </tr>
        <tr>
          <td>row 2 co1</td>
          <td>row 2 co2</td>
        </tr>
        <tr>
          <td>row 2 co1</td>
          <td>row 2 co2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="right">
<pre>
files will be displayed here
</pre>
</div>



